<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>ИКАКПАЛКА</title>
</head>
<body class="error_body">
<header class="error_header_500 clearfix">
    <div class="container">
        <div class="logo">
           <a href="/"><img src="/static/img/logo_white.png" alt=""></a>
        </div>
        <div class="shape_form_view_contact">
            <form action="" method="get">
                <div class="number_wrapper">
                    <input class="enter_number_new" type="text" id="search_input"
                    name="_id" placeholder="Введите номер" maxlength="11">
                </div>
                <button class="find" type="submit">НАЙТИ</button>
            </form>
        </div>
        <h2 class="error_text">Попробуй еще раз, eto prosto!</h2>

    </div>
</header>
<script src="/static/js/input_validator.js"></script>
</body>
</html>
