<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ИКАКПАЛКА</title>
    <style>
      input:required {
        box-shadow:none;
      }
    </style>
    {% block header_lvl_1 %}
    {% end %}
  </head>
  <body class="view_contact_body">
  {% block content_lvl_1 %}
  {% end %}
  {% block footer_lvl_1 %}
  {% end %}
  <script src="/static/js/jquery-1.12.4.min.js"></script>
  <script src="/static/js/jquery.mask.min.js"></script>
  <script>
    $("#search_input").mask("999-999-999");
    $('#btn_login').click(function(){
      $('#account_form').attr('action', '/login');
     });
    $('#btn_registration').click(function(){
      $('#account_form').attr('action', '/registration');
    });
  </script>
  </body>
</html>
