<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>ИКАКПАЛКА</title>
</head>
<body class="view_contact_body">
<header class="edit_contact_header clearfix">
    <div class="view_contact_container">
        <div class="logo">
            <a href="/"><img src="/static/img/logo_yellow.png" alt=""></a>
        </div>
        <section class="contacts_field edit_contact_fields">
            <span>номер контакта</span>
            <h3 id="inique_ID">{{ record[:3] }} {{ record[3:6] }} {{ record[-3:] }}</h3>
            <form action="/change" method="post" id="change_form" name="change_form">
              <input type="hidden" name="_session" value="{{ session }}">
              <input type="hidden" name="_record" value="{{ record }}">
              {% for i in records.get('email', []) %}
              <div class="contact" style="padding-left: 0;">
                  <input type="input" id="email" name="email" value="{{ i }}"
                  required>
                  <div class="sign"></div>
                  <div class="delete_contact"></div>
              </div>
              {% end %}
              {% for i in records.get('url', []) %}
              <div class="contact" style="padding-left: 0;">
                  <input type="input" id="url" name="url" value="{{ i }}"
                  required>
                  <div class="sign"></div>
                  <div class="delete_contact"></div>
              </div>
              {% end %}
              {% for i in records.get('facebook', []) %}
              <div class="contact" style="padding-left: 0;">
                  <input type="input" id="fb" name="facebook" value="{{ i }}"
                  reqiured>
                  <div class="sign"></div>
                  <div class="delete_contact"></div>
              </div>
              {% end %}
              {% for i in records.get('vk', []) %}
              <div class="contact" style="padding-left: 0;">
                  <input type="input" id="vk" name="vk" value="{{ i }}"
                  required>
                  <div class="sign"></div>
                  <div class="delete_contact"></div>
              </div>
              {% end %}
           </form>
            <div class="add_contact" style="padding-left: 0;">
                <div class="plus"></div>
                <div class="add">
                    <button class="add_email" onclick="append_field('email');"></button>
                    <button class="add_fb" onclick="append_field('facebook');"></button>
                    <button class="add_vk" onclick="append_field('vk');"></button>
                    <button class="add_url" onclick="append_field('url');"></button>
                    <button class="save create_btn btn_general" type="submit" form="change_form">СОХРАНИТЬ</button>
                </div>
            </div>

        </section>

</header>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script>
  var form = $('#change_form');
  var append_field = function(type) {
    var style = type;
    if (type=='facebook') {
      style = 'fb';
    }
    form.append('<div class="contact"><input type="input" id="'+ style +'" name="'+ type + '" reqiured><div class="sign"></div><div class="delete_contact"></div></div>');
  }
  $( document ).on( "click", function( event ) {
    $( event.target ).closest( ".delete_contact" ).parent().remove();
  });
</script>
</body>
</html>
