<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>ИКАКПАЛКА</title>
</head>
<body class="error_body">
<header class="clearfix">
    <div class="container">
        <div class="logo">
           <a href="/"><img src="/static/img/logo_white.png" alt=""></a>
        </div>
        <h2 class="info_text">{{ message }}</h2>
        <a href="/" class="find to_index">НА ГЛАВНУЮ</a>
        <div class="men_stick">
            <img src="/static/img/men_stick_{{ gif }}.gif" alt="">
        </div>
    </div>
</header>

</body>
</html>
