<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>ИКАКПАЛКА</title>
    <style>
      input:required {
        box-shadow:none;
      }
    </style>
</head>
<body class="view_contact_body">
<header class="view_contact_header clearfix">
    <div class="view_contact_container">
        <div class="logo">
           <a href="/"><img src="/static/img/logo_yellow.png" alt=""></a>
        </div>
        <div class="shape_form_view_contact">
            <form action="/search" method="get">
                <div class="number_loupe">
                    <input class="enter_number" type="text" name="_id"
                    id="search_input" placeholder="Введите номер" required  maxlength="11">
                    <button class="find_button loupe" type="submit"></button>
                </div>
            </form>
        </div>
        <section class="contacts_field">
            <span>номер контакта</span>
            <h3 id="inique_ID">{{ _id[:3] }} {{ _id[3:6] }} {{ _id[-3:] }}</h3>
            {% if response %}
              {% for i in response.get('email', []) %}
                <div id="contact_email">{{ i }}</div>
              {% end %}
              {% for i in response.get('url', []) %}
                <div id="contact_url">{{ i }}</div>
              {% end %}
              {% for i in response.get('facebook', []) %}
                <div id="contact_fb">{{ i }}</div>
              {% end %}
              {% for i in response.get('vk', []) %}
                <div id="contact_vk">{{ i }}</div>
              {% end %}
            {% else %}
              <h4>Пользователя с таким номером не существует</h4>
            {% end %}
        </section>
    </div>
</header>
<script src="/static/js/input_validator.js"></script>
</body>
</html>
