{% extends "base.html" %}
{% block content_lvl_1 %}
<header class="view_contact_header">
    <div class="view_contact_container">
        <div class="logo">
           <a href="/"><img src="/static/img/logo_yellow.png" alt=""></a>
        </div>
        <div class="shape_form_view_contact">
            <form action="/search" method="get">
                <div class="number_loupe">
                    <input class="enter_number" type="text" name="_id"
                    id="search_input" placeholder="XXX-XXX-XXX" required>
                    <button class="find_button loupe" type="submit"></button>
                </div>
            </form>
        </div>
        <section class="contacts_field">
            <span>номер контакта</span>
            <h3 id="inique_ID">{{ _id[:3] }}-{{ _id[3:6] }}-{{ _id[-3:] }}</h3>
            {% if response %}
              {% for i in response.get('email', []) %}
                <div id="contact_email">{{ i }}</div>
              {% end %}
              {% for i in response.get('url', []) %}
                <div id="contact_url">{{ i }}</div>
              {% end %}
              {% for i in response.get('facebook', []) %}
                <div id="contact_vk">{{ i }}</div>
              {% end %}
              {% for i in response.get('vk', []) %}
                <div id="contact_fb">{{ i }}</div>
              {% end %}
            {% else %}
              <h4>Пользователя с таким номером не существует</h4>
            {% end %}
        </section>
    </div>
</header>
{% end %}
