/*--- FONTS ---*/

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/*--- ---*/
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
    text-align: center;
    height: 100%;
    background-color: #ffc80a;
    font-size: 16px;
    min-width: 400px;
}

.header {
    height:100%;
}
.container {
    padding: 0;
    outline: auto;
    width: 75.937540%;  /* 972px / 1280px */
    height: 100%;
    margin: 0 auto;
    padding-top: 1px;
}

.logo {
    width: 115px;
    margin-top: 36px;
    float: left;
}

.shape_form {
    position: relative;
    margin: 0 auto;
    margin-top: 256px;
    width: 300px;
}

.shape {
    position: absolute;
    right: -184px;
    top: -153px;
    background: url("../img/Shape_1.png");
    width: 200px;
    height: 121px;
    color: white;
    padding-left: 28px;
    padding-top: 28px;
}

@media (max-width: 700px) {
    .shape {
        display: none;
    }

    .shape_form {
        margin-top: 128px;
    }
}

.shape>p {
    width: 144px;
    text-align: left;
    line-height: 26px;
}

.number_loupe {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.number_loupe>input {
    height: 48px;
    width: 252px;
    border-top:2px solid #E8E9ED;
    border-bottom:2px solid #E8E9ED;
    border-left: none;
    border-right: none;
    outline: none;
    color: #9FA3A7;
    font-size: 18px;
    letter-spacing: 5.6px;
    padding-left: 20px;
}

.number_loupe>input:focus {
    color: #212121;
}

.number_loupe::before {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 100%;
    background-color: white;
    left: 0;
    border-radius: 48px 0 0 48px;
    z-index: -1;
    border:2px solid #E8E9ED;
}

.number_loupe::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 100%;
    background-color: white;
    right: 0;
    top:0;
    border-radius: 0 48px 48px 0;
    z-index: -1;
    border:2px solid #E8E9ED;
}

.loupe {
    border: none;
    position: absolute;
    right: 4px;
    top: 4px;
    background: url("../img/search_1.png") no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.loupe:hover {
    background: url("../img/search_3.png");
}

.loupe:focus {
    outline: none;
}

.users_amount {
    margin-top: 80px;
    font-size: 14px;
    color: #F05638;
}