/*--- FONTS ---*/

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/*--- ---*/
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
    text-align: center;
    height: 100%;
    font-size: 16px;
    min-width: 400px;
}

.header {
    height:100%;
    background: url("../img/ornament.png") no-repeat bottom right #ffc80a;
}

.container,
.main_container,
.view_contact_container {
    padding: 0;
    width: 75.937540%;  /* 972px / 1280px */
    height: 100%;
    margin: 0 auto;
    padding-top: 1px;
}

.main_container {
    height: auto;
}

.logo {
    width: 115px;
    margin-top: 36px;
    float: left;
}

.shape_form {
    position: relative;
    margin: 0 auto;
    margin-top: 256px;
    width: 300px;
}

.shape {
    position: absolute;
    right: -184px;
    top: -153px;
    background: url("../img/Shape_1.png");
    width: 200px;
    height: 121px;
    color: white;
    padding-left: 28px;
    padding-top: 28px;
}

@media (max-width: 700px) {
    .shape {
        display: none;
    }

    .shape_form {
        margin-top: 128px;
    }
}

.shape>p {
    width: 144px;
    text-align: left;
    line-height: 26px;
}

.number_loupe {
    position: relative;
    width: 300px;
    z-index: 1;
}

.enter_number {
    height: 48px;
    width: 252px;
    border-top:2px solid #E8E9ED;
    border-bottom:2px solid #E8E9ED;
    border-left: none;
    border-right: none;
    outline: none;
    color: #9FA3A7;
    font-size: 18px;
    letter-spacing: 5.6px;
    padding-left: 20px;
}

.enter_number:focus {
    color: #212121;
}

.number_loupe::before {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 100%;
    background-color: white;
    left: 0;
    border-radius: 48px 0 0 48px;
    z-index: -1;
    border:2px solid #E8E9ED;
}

.number_loupe::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 100%;
    background-color: white;
    right: 0;
    top:0;
    border-radius: 0 48px 48px 0;
    z-index: -1;
    border:2px solid #E8E9ED;
}

.loupe {
    border: none;
    position: absolute;
    right: 4px;
    top: 4px;
    background: url("../img/search_1.png") no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.loupe:hover {
    background: url("../img/search_3.png");
}

.loupe:focus {
    outline: none;
}

.users_amount {
    margin-top: 80px;
    font-size: 14px;
    color: #F05638;
}

.main_content {
    height: auto;
}

.simple_contact {
    text-transform: uppercase;
    font-size: 72px;
    color: #212121;
    text-align: left;
    margin: 0;
    margin-top: 124px;
    margin-left: -4px;
    margin-bottom: 56px;
    padding: 0;
}

.row {
    margin: 0;
}

.about {
    margin: 0;
    margin-top: 54px;
    margin-bottom: 35px;
}

.text_about {
    padding-left: 0;
}

.text_about>p {
    text-align: left;
    font-size: 14px;
    color: #212121;
}

.contacts_options {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    text-align: left;
}

.stick_image>img {
    width:100%;
}



.try_text {
    font-size: 20px;
    font-family:"Roboto Bold", sans-serif;
    color: #F05638;
    text-align: left;
    margin-bottom: 24px;
}

.try {
    float: left;
    width: 300px;
}

.try_email .enter_number {
    border-top-color: #FFC80A;
    border-bottom-color: #FFC80A;
    font-size: 14px;
    padding-left: 6px;
    letter-spacing: 0;
}
.try_email::before {
    border-color: #FFC80A;
}
.try_email::after {
    border-color: #FFC80A;
}



.email_buttons {
    margin-top: 34px;
}

.create_btn_wrapper {
    padding-left: 0;
}
.btn_general {
    width: 132px;
    height: 48px;
    border-radius: 48px;
    border: none;
}

.btn_general:focus {
    outline: none;
}

.create_btn {
    background-color: #0EBAC5;
    color: #ffffff;
    border: 2px solid transparent;
    float: left;
}

.create_btn:hover {
    background-color: #ffffff;
    border: 2px solid #0EBAC5;
    color:  #0EBAC5;
}

.enter_btn {
    background-color: #8f75be;
    color: #ffffff;
    border: 2px solid transparent;
}

.enter_btn:hover {
    background-color: #ffffff;
    color: #8f75be;
    border: 2px solid #8f75be;
}

.footer {
    min-height: 224px;
    background: url("../img/big-red-lollipop.png") no-repeat bottom center;
}


@media (max-width: 768px) {
    .stick_image {
        margin-top: 35px;
    }

    .try_text {
        text-align: center;
    }

    .try {
        float: none;
        margin: 0 auto;
    }
    .enter_btn_wrapper {
        padding-right: 0;
        float: right;
    }

}


/*--- view_contact ---*/

.view_contact_body {
    height:auto;
}

.view_contact_header {
    height: auto;
    background: url("../img/people_2.png") no-repeat bottom center #0cb6cd;
}

.shape_form_view_contact {
    position: relative;
    margin: 0 auto;
    margin-top: 113px;
    width: 300px;
}

.contacts_field {
    width: 560px;
    min-height: 466px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 196px;
    margin-top: 56px;
    padding: 80px;
    border-radius: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .contacts_field {
        width: 400px;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .contacts_field {
        width: 300px;
        padding: 20px;
    }
}
.contacts_field>span {
    font-family: "Roboto Bold", sans-serif;
    font-size: 10px;
    color: #ffc80a;
    letter-spacing: 2.4px;
}

#inique_ID {
    margin-top: 4px;
    font-size: 36px;
    color: 212121;
    letter-spacing: 2.6px;
    margin-bottom: 28px;
}

.contacts_field div {
    margin-bottom: 36px;
    padding-left: 36px;
    position: relative;
}

.contacts_field>div::before {
    position: absolute;
    left: 8px;
    width: 20px;
    height: 20px;
    content: "";
}

.contacts_field>div:last-child {
    margin:0;
}

#contact_email::before {
    background: url("../img/mail.png") no-repeat center center;
}

#contact_fb::before {
    background: url("../img/facebook.png") no-repeat center center;
}

#contact_vk::before {
    background: url("../img/vk.png") no-repeat center center;
}

#contact_url::before {
    background: url("../img/url.png") no-repeat center center;
}



/*--- edit_contact --- */

.edit_contact_header {
    height: auto;
    background: url() no-repeat bottom center #8f75be;
}

.edit_contact_fields {
    margin-top: 78px;
    min-height: 500px;
}
.contact {
    position: relative;
}
.contact .delete_contact {
    position: absolute;
    padding-left: 0;
    right: 0;
    top: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: url("../img/close_see.png");
}

.delete_contact:hover {
    background: url("../img/close_un.png");
    cursor: pointer;
}

.edit_contact_fields>div {
    padding-left: 0;
    position: relative;
}
.edit_contact_fields input {
    width: 372px;
    height: 44px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 36px;
    outline: none;
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
}

@media (max-width: 768px) {
    .edit_contact_fields input {
        width: 280px;
    }
}

@media (max-width: 480px) {
    .edit_contact_fields input {
        width: 200px;
    }
}

.contact>input+.sign {
    position: absolute;
    display: block;
    width: 20px;
    height: 44px;
    top: 0;
    left: 0;
}

#email+.sign {
    background: url("../img/mail.png") no-repeat center center;
}

#fb+.sign {
    background: url("../img/facebook.png") no-repeat center center;
}

#vk+.sign {
    background: url("../img/vk.png") no-repeat center center;
}

#url+.sign {
    background: url("../img/url.png") no-repeat center center;
}

.add_contact {
    width: 240px;
    height: 140px;
    margin-top: 32px;
    margin-left: 36px;
}
.add {
    position: relative;
}
.add_contact>.add {
    display: inline-block;
    padding-left: 35px;
}
.add>button,
.add_contact>.plus{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.add_contact>.plus {
    position: absolute;
    background-color: none;
    background: url("../img/plus.png") no-repeat center center;
}

.add_contact .save {
    position: absolute;
    left: 0;
    top: 92px;
    display: block;
    width: 156px;
    height: 48px;
    border-radius: 48px;
    border: none;
    font-family: "Roboto Bold", sans-serif;
    letter-spacing: 2.4px;
    font-size: 12px;
}

.add_contact .save:hover {
    border: 2px solid #0EBAC5;
}

.add_email {
    background: url("../img/add_mail_yellow.png");
}

.add_email:hover {
    background: url(../img/add_mail.png);
}

.add_fb {
    background: url("../img/add_fb_yellow.png");
}

.add_fb:hover {
    background: url("../img/add_fb.png");
}

.add_vk {
    background: url("../img/add_vk_yellow.png");
}

.add_vk:hover {
    background: url("../img/add_vk.png");
}

.add_url {
    background: url("../img/add_url_yellow.png");
}

.add_url:hover {
    background: url("../img/add_url.png");
}

